import express, { response, request } from 'express';

const app = express();

app.use(express.json());

/* 
  Rota: Endereço completo da requisição
  Recurso: Qual entendidade que estamos acessando do sistema
*/

// Tipos de requisições

// GET: Buscar uma ou mais informações no backend
// POST: Criar uma nova informação no backend
// PUT: Atualizar uma informação existente no backend
// DELETE: Excluir uma informação no backend

// Request Param: Parâmetros que vem na própria rota que identificam um recurso
// Query Param: Parâmetros que vem na própria rota, geralmente opcionais, para filtros, paginação
// Request Body: Parãmetros para criação e atualização de informações

const users = [
  'Manoela',
  'Rafaela',
  'Fernanda',
  'Lucas',
  'João'
];

app.get('/users', (request, response) => {
  const search = String(request.query.search);
  const filteredUsers = search ? users.filter(user => user.includes(search)) : users;

  return response.json(filteredUsers);
});

app.get('/users/:id', (request, response) => {
  const id = Number(request.params.id);
  const user = users[id];

  return response.json(user);
});

app.post('/users', (request, response) => {
  const data = request.body;
  const user = {
    name: data.name,
    email: data.email
  };

  return response.json(user);
});


app.listen(3333);
